.container {
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 8px;
  background-color: $dark-gray-800;
  border: 1px solid $dark-gray-700;
  border-radius: 8px;
  padding: 6px 10px;
  transition: border-color 0.2s ease;
  
  &:focus-within {
     border-color: $cyan;

     .icon {
      color: $cyan;
     }
  }
}

.input {
  background: transparent;
  border: none;
  color: $white;
  font-size: 16px;
  width: 100%;

  &::placeholder {
    color: $dark-gray-600;
  }
}

.icon {
  color: $dark-gray-700;
  width: 16px;
  transition: color 0.2s ease;
}