.badge {
  display: flex;
  border-radius: 12px;
  overflow: hidden;
  align-items: center;
  width: fit-content;
}

.icon_div {
  padding: 4px 8px;

  .icon {
    width: 16px;
    height: auto;
    margin-bottom: -2px;
  }
}

.label {
  padding: 4px 8px;
  font-size: 14px;
}