.badge {
  display: flex;
  border-radius: 12px;
  overflow: hidden;
  align-items: center;
  width: fit-content;
}

.icon_div {
  padding: 4px 8px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .icon {
    width: auto;
    height: 14px;
    margin-left: 3px;
  }
}

.label {
  padding: 4px 8px;
  font-size: 14px;
}