.btn {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;

  .language_code {
    color: $cyan;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    transition: color 0.5s;
  }

  .arrow {
    transition: all 0.5s;
    width: 12px;
    height: auto;
    color: $cyan;
  }

  &:hover {
    .arrow {
      color: $pink
    }

    .language_code {
      color: $pink;
    }
  }
}
