.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 18px 16px;
  border-radius: 12px;
  border: 1px solid $cyan;
  box-shadow: 0 0 6px 1px $cyan, inset 0 0 6px 1px $cyan;
}

.title {
  color: $pink;
  text-shadow: 0 0 8px $pink;
}