$transparent: rgba(#52CBFF, 0%);

$white: #FFFFFF;
$white-50: rgba(#FFFFFF, 24%);
$black-10: rgba(#000000, 10%);
$black-15: rgba(#000000, 15%);
$black-20: rgba(#000000, 20%);
$black-30: rgba(#000000, 30%);
$black-40: rgba(#000000, 40%);
$black-50: rgba(#000000, 50%);
$black-60: rgba(#000000, 60%);
$black-70: rgba(#000000, 70%);
$black-80: rgba(#000000, 80%);
$black-90: rgba(#000000, 90%);
$light-gray: #D9D9D9;
$gray: #242424;
$gray-400: #6e6e6e;
$dark-gray-600: #474747;
$dark-gray-700: #313131;
$dark-gray-800: #1d1d1d;
$dark-gray-850: #101010;
$dark-gray-900: #090909;

$cyan: #52CBFF;
$cyan-lighter: #88DBFF;

$pink: #E252FF;
$pink-lighter: rgb(255, 124, 255);

$yellow: #E5FF52;
$green: #52FF77;

$mobile-breakpoint: 600px;