$transparent: rgba(#52CBFF, 0%);

$white: #FFFFFF;
$white-50: rgba(#FFFFFF, 24%);
$black-50: rgba(#000000, 50%);
$black-70: rgba(#000000, 70%);
$black-80: rgba(#000000, 80%);
$black-90: rgba(#000000, 90%);
$light-gray: #D9D9D9;
$gray: #353535;
$dark-gray-600: #818181;
$dark-gray-700: #505050;
$dark-gray-800: #303030;
$dark-gray-850: #101010;
$dark-gray-900: #090909;

$cyan: #52CBFF;
$cyan-lighter: #88DBFF;

$pink: #E252FF;
$pink-lighter: rgb(255, 124, 255);

$yellow: #E5FF52;
$green: #52FF77;

$mobile-breakpoint: 600px;