.card {
  background-color: $gray;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  width: 100%;

  img {
    object-fit: cover;
    width: 210px;
    height: auto;
  }

  .content {
    flex: 1;
    padding: 8px 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    .titles {
      .title {
        font-size: 20px;
        margin-bottom: 2px;
      }

      .subtitle {
        font-size: 16px;
        font-weight: normal;
      }
    }

    .desc {
      font-size: 12px;
      text-align: justify;
      display: -webkit-box;
      line-clamp: 3;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .badges,
    .links {
      display: flex;
      flex-wrap: wrap;
      gap: 6px;
    }

    .extra_badge {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 4px 8px;
      border-radius: 18px;
      background-color: $cyan;
      color: black;
      font-weight: bold;
      font-size: 14px;
    }
  }
}

@media(max-width: $mobile-breakpoint) {
  .card {
    flex-direction: column;

    img {
      width: 100%;
      height: auto;
    }
  }
}