.header {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: $black-50;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px;

  .hamb_btn {
    display: none;
  }

  nav ul {
    display: flex;
    gap: 12px;
  }

  .right_content {
    display: flex;
    gap: 12px;
  }

  .social_media {
    display: flex;
    gap: 12px;

    button {
      background: none;
      border: none;
      padding: 0;
      cursor: pointer;
      
      .social_media__icon {
        color: $cyan;
        width: 18px;
        height: 18px;
        transition: all 0.25s;
      }
      
      &:hover {
        .social_media__icon {
          color: $pink;
        }
      }
    }
  }
}

@media(max-width: $mobile-breakpoint) {
  .header {
    justify-content: center;

    .hamb_btn {
      display: block;
      position: absolute;
      top: 16px;
      left: 12px;
      background: none;
      border: none;

      .hamb_btn__icon {
        color: $cyan;
      }
    }

    .lang_select_div {
      position: absolute;
      top: 16px;
      right: 12px;
    }

    nav,
    .social_media {
      display: none;
    }

  }
}