.container {
  animation: toast-in 0.25s ease-out;

  padding: 16px;
  border-radius: 18px;
  background: $black-50;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  position: fixed;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99999;
  text-align: center;

  b {
    color: $cyan;
    font-weight: bold;
  }
}

.container.exit {
  animation: toast-out 0.25s ease-in forwards;
}

@keyframes toast-in {
  from {
    opacity: 0;
    transform: translateX(-50%) translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}

@keyframes toast-out {
  from {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }

  to {
    opacity: 0;
    transform: translateX(-50%) translateY(-10px);
  }
}