.footer {
  background-color: $black-60;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 48px;
  gap: 12px;

  .logo {
    width: 180px;
    height: auto;
  }

  .social_media_container {
    display: flex;
    align-items: center;

    button {
      background: none;
      border: none;
      cursor: pointer;

      .social_media__icon {
        color: $gray-400;
        width: 16px;
        height: auto;
        transition: color 0.3s;
      }

      &:hover {
        .social_media__icon {
          color: $cyan;
        }
      }
    }
  }

  .license_txt {
    font-size: 12px;
    margin-top: 18px;
    color: $gray-400;
  }
}