.dot {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: $cyan;
  margin-top: 5px;
}

.container {
  display: flex;
  gap: 8px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.titles {
  color: $cyan;
  display: flex;
  flex-direction: column;
  gap: 2px;

  .title {
    font-weight: bold;
    font-size: 18px;
  }

  .subtitle {
    font-size: 16px;
  }
}

.desc {
  text-align: left;
}