.main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 64px;
  width: fit-content;
  margin: 0 auto;
}

.loading_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}