.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding-block: 48px;
  margin: 0 auto;
  border: 1px solid $black-60;
  border-radius: 26px;
  background-color: $black-40;
  backdrop-filter: blur(98px);
  -webkit-backdrop-filter: blur(98px);
  box-sizing: border-box;
  width: 100%;

  .desc {
    text-align: center;
  }

  .search_input {
    width: 70%;
  }

  .title {
    color: $cyan;
    text-shadow: 0 0 6px $cyan;
    font-size: 30px;
  }

  .projects_container {
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 80%;
  }

  .no_project_found {
    text-align: center;
    opacity: 0.5;
    padding-block: 18px;
  }
}

@media (max-width: calc($mobile-breakpoint + 300px)) {
  .container {
    border-radius: 0;
    border-inline: 0;
  }
}
