.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 80%;
  max-width: 900px;
  margin: 48px auto;

  .desc {
    text-align: center;
  }

  .search_input {
    width: 70%;
  }

  .title {
    color: $pink;
    text-shadow: 0 0 6px $pink;
    font-size: 30px;
  }

  .projects_container {
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 80%;
  }
}